<div class="post">
  <div class="post-contents">
    <div>
      <img src="{{image}}" alt="{{name}}">
    </div>
    <div>
      <strong>{{name}}</strong>
    </div>
	  {{#if birthdate}}
	    <div>
          Birthdate: {{birthdate}}
	    </div>
	  {{/if}}
	  {{#if father}}
        <div>
          Father: <a href="/breeder/{{father}}">{{fatherName}}</a>
        </div>
      {{/if}}
	  {{#if mother}}
        <div>
          Mother: <a href="/breeder/{{mother}}">{{motherName}}</a>
        </div>
      {{/if}}
	  {{#if breed}}
        <div>
          Breed: {{breed}}</a>
        </div>
      {{/if}}
	  {{#if longDescription}}
        <p>
          {{longDescription}}</a>
        </p>
      {{/if}}
  </div>
</div>
