<script src="/remove.js"></script>
<div class="detail">
  <div class="detail-image-container">
    <img class="detail-image" src="{{image}}" alt="{{description}}">
  </div>
  <div class="detail-info-container">
    <a href="#" class="post-title">{{description}}</a> <span class="post-price">${{price}}</span>
  </div>
  <div class="detail-info-container">
  	<p>Father: <a href="/breeder/{{father}}">{{fatherName}}</a></p>
  </div>
  <div class="detail-info-container">
  	<p>Mother: <a href="/breeder/{{mother}}">{{motherName}}</a></p>
  </div>
  <div class="detail-info-container">
  	<p>Birthdate: {{birthdate}}</p>
  </div>
  <div class="detail-info-container">
  	<p class="longdescription">
      {{longDescription}}
  	</p>
  </div>
	<button id="delete-bunny-button">Delete This Bunny</button>
</div>
