<div class="post">
  <div class="post-contents">
    <div>
      <img src="{{image}}" alt="{{description}}">
    </div>
    <div>
      <a href="#" class="post-title">{{description}}</a> <span class="post-price">${{price}}</span>
    </div>
	<div>
		Father: <a href="/breeder/{{father}}">{{fatherName}}</a>
	</div>
	<div>
		Mother: <a href="/breeder/{{mother}}">{{motherName}}</a>
	</div>
	<div>
		Birthdate: {{birthdate}}
	</div>
	<div>
		<p>
			{{longDescription}}
		</p>
	</div>
  </div>
</div>
