<div class="post">
  <div class="post-contents">
    <div class="post-image-container">
      <img src="{{image}}" alt="{{description}}">
    </div>
    <div class="post-info-container">
      <a href="/bunny/{{_id}}" class="post-title">{{description}}</a> <span class="post-price">${{price}}</span>
    </div>
    {{#unless available}}
    <div class="overlay">
      <a href="/bunny/{{_id}}" class="overlay-text">Not Available</a>
    </div>
    {{/unless}}
  </div>
</div>
